* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial; }

body { background: #f4f6f9; color: #222; line-height: 1.6; }

header {
    background: #ff6a00;
    padding: 20px;
    text-align: center;
    color: rgb(4, 3, 3);
    font-size: 22px;
    font-weight: bold;
}

/* MENU */
nav { background: #dc0e0e; }
.menu { list-style: none; display: flex; }
.menu > li { position: relative; }
.menu a {
    display: block;
    padding: 12px 18px;
    color: white;
    text-decoration: none;
}
.menu > li:hover { background: #ff6a00; }

/* Dropdown */
.menu .dropdown {
    display: none;
    position: absolute;
    background: #333;
    min-width: 180px;
    list-style: none;
}
.menu li:hover .dropdown { display: block; }
.menu .dropdown li:hover { background: #ff6a00; }

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}
section {
    flex: 3;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
aside {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 12px;
    margin-top: 20px;
}
